
	.index-body{
		margin:0px;
		padding:0px;
		background: url('images/background.jpg');
		background-repeat:no-repeat;
		background-size:1550px;

    }
    .header{
    	display:flex;
    	justify-content:space-between;
    }
    .left{
    	display:flex;

    }
    .left img{
    	margin:10px;
    	filter:invert(100%);
    	height:75px;
    	width:80px;
    }
    .left h3{
    	margin-top:26px;
    	margin-left:7px;
    	font-size:27px;
    	font-family:Blippo,fantasy;
    	color:white;
    }
    .navbar{
    	display:flex;
    	margin-right:75px;
    	margin-top:25px;
  
    
    }
    .navbar li{
  
    
    }
    .navbar li a{
    	margin:20px;
    	text-decoration:none;
    	color:white;
    	padding:12px;
    	font-size:22px;
    	font-family:Blippo,fantasy;
    }
    .navbar li a:hover, .navbar li a.active{
         color:red;
    }

	.container{
		color:white;
		margin-top:170px;
		margin-left:970px;
		width:30%;
		height:275px;
		border-radius:12px;
	}

	.container h1{
		text-align:left;
		font-family:Blippo,fantasy;

	}
	.container h3{
		text-align:left;
		font-family:Stencil Std,fantasy;
		color:red;
	}
	.btn-index{
		display:block;
		width:20%;
		height:20%;
		padding:8px;
		background-color:red;
		border:2px solid red;
		color:white;
	}
	.btn-index:hover{
		background-color:green;
		border:2px solid green;

	}





     .aboutus-body{
        margin:0px;
        padding:0px;
        background: url('images/aboutus.jpg');
        background-repeat:no-repeat;
        background-size:1550px 600px;
        height:1750px;

}
   
    .container1{
        opacity:0.85;
        margin-left:400px;
        margin-top:150px;
        color:white;
        font-family:Blippo,fantasy;
    }
    .container3{
        margin-top:316px;
        display:flex;
        align-items:center;
        height:90px;
        background-color:#A9A9A9;
        color:black;
        justify-content:space-around;
    }
    .container2{
        color:brown;
    }
    .description{
        display:flex;
        margin:40px
    }
    .description1{
         margin:10px 40px;
        padding:18px;
    }
    .description1 h2{
        font-family:Blippo,fantasy;
    }
    .team{
        margin-top:40px;

    }
    .team img{
        width:100%;
        height:650px;
    }
    .team h1{
        font-family:Blippo,fantasy;
    }
    .team{
        position:relative;
    }
    .culture{
        position:absolute;
        top:20%;
        left:50%;
        color:white;
        font-family:Blippo,fantasy;
        text-decoration:underline;
    }
    .culture-description{
        opacity:0.80;
        position:absolute;
        top:28%;
        left:50%;
        color:white;
        width:40%;
    }
    .footer{
        display:flex;
        justify-content:space-between;
        margin-left:30px;
        margin-right:30px
    }
    .mail{
        font-family:Blippo,fantasy;
        margin-top:25px;
        margin-right:45px;
        display:flex-column;
    }
    .social{
        display:flex;
        text-align:center;
        height:84px;
        justify-content:space-around;
        align-items:center;
    }
    .fa {
        margin:20px;
        padding: 10px;
        font-size: 30px;
        width: 40px;
        border-radius:5px;
        text-align:center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
       background:  #3B5998;
       color: white;
    }

    .fa-linkedin {
       background: #007bb5;
       color: white;
    }

    .fa-youtube {
       background: #bb0000;
       color: white;
    }
    .fa-twitter{
      background: #55ACEE;
      color: white;
    }
    .fa-instagram {
       background: pink;
      color: white;
    }
    .quote{
        display:flex;
        font-family:italics;
        align-items: center;
        justify-content:center;
         font-family: blippo,fantasy;
         background-color:silver;
        color:red;
        width:100%;
        height:70px;
    }

    









    .contact-body{
        margin:0px;
        padding:0px;
        background: url('images/contact.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        height:230px;
    }
    .contact-container{
        display:flex;
        width:55%;
        height:70vh;
        color:white;
        align-items:center;
        justify-content:space-around;
    }
    .left-1{
        display:flex;
    }
    .right-side{
        text-align: center;

    }
    .form-group input{
        text-align:center;
        padding:6px;
        width:250px;
        outline:none;
        background:none;
        border:2px solid white;
        color:white;
    }
    .form-group{
        padding:9px;
    }
    .btn{
        display:block;
        width:55%;
        margin:12px auto;
        background-color: black;
        color:white;
        border:2px solid white;
        border-radius:6px;
        padding:3px;
    }
    .btn:hover{
       color:red;
    }
    #country{
        width:150px;
    }










    