
	.index-body{
		margin:0px;
		padding:0px;
		background: url('images/background.jpg');
		background-repeat:no-repeat;
		background-size: cover;

    }
    .header{
    	display:flex;
    	justify-content:space-between;
    }
    .left{
    	display:flex;

    }
    .left img{
    	margin:10px;
    	filter:invert(100%);
    	height:75px;
    	width:80px;
    }
    .left h3{
    	margin-top:26px;
    	margin-left:7px;
    	font-size:27px;
    	font-family:Blippo,fantasy;
    	color:white;
    }
    .navbar{
        list-style: none;
    	display:flex;
    	margin-right:75px;
    	margin-top:25px;
  
    
    }

    .navbar li a{
    	margin:20px;
    	text-decoration:none;
    	color:white;
    	padding:12px;
    	font-size:22px;
    	font-family:Blippo,fantasy;
    }
    .navbar li a:hover, .navbar li a.active{
         color:red;
    }

	.container{
		color:white;
		margin-top:170px;
		margin-left:970px;
		width:30%;
		height:275px;
		border-radius:12px;
	}

	.container h1{
		text-align:left;
		font-family:Blippo,fantasy;

	}
	.container h3{
		text-align:left;
		font-family:Stencil Std,fantasy;
		color:red;
	}
	.btn-index{
		display:block;
		width:20%;
		height:20%;
		padding:8px;
		background-color:red;
		border:2px solid red;
		color:white;
	}
	.btn-index:hover{
		background-color:firebrick;
        cursor:pointer;
        border:firebrick;
	}





    .aboutus-body{
        margin:0px;
        padding:0px;
        background: url('images/aboutus.jpg');
        background-repeat:no-repeat;
        background-size:1550px 600px;
        height:1750px;

}
   
    .container1{
        opacity:0.85;
        margin-left:400px;
        margin-top:150px;
        color:white;
        font-family:Blippo,fantasy;
    }
    .container3{
        margin-top:316px;
        display:flex;
        align-items:center;
        height:90px;
        background-color:#A9A9A9;
        color:black;
        justify-content:space-around;
    }
    .container2{
        color:brown;
    }
    .description{
        display:flex;
        margin: 15px 40px;
    }
    .description1{
         margin:0px 30px;
        padding:18px;
    }
    .description1 h2{
        font-family:Blippo,fantasy;
    }
    .WhyUs{
        display:flex-column;
        height:650px;
        margin-left:40px;
        margin-right:40px;
        margin-bottom:20px;
        padding:30px;
    }
    .head{
        text-align: center;
        font-family:Blippo,fantasy;
        background-color:silver;
        color:brown;
    }
    .ws-1{
        display:flex;
        justify-content:space-around;

    }
    .ws-2{
        display:flex;
        justify-content:space-around;
    }
    .WhyUs-1{
        text-align:center;
        height:270px;
        width:550px;
        margin-bottom: 30px;
        padding:10px;
        box-shadow:7px 9px 10px grey;
        background-color:;
    }
    .WhyUs-1 img{
        height:60px;
        width:70px;
        margin-left:25px;
        margin-top:4px;
    }
    .WhyUs-2{
        text-align:center;
        height:270px;
        width:550px;
        margin-bottom: 30px;
        padding:10px;
        box-shadow:7px 9px 10px grey;
        background-color:;
    }
    .WhyUs-2 img{
        height:60px;
        width:70px;
        margin-left:25px;
        margin-top:4px;
    }
    .WhyUs-3{
        text-align:center;
        height:270px;
        width:550px;
        margin-bottom: 30px;
        padding:10px;
        box-shadow:7px 9px 10px grey;
        background-color:;
    }
    .WhyUs-3 img{
        height:60px;
        width:70px;
        margin-left:25px;
        margin-top:4px;
    }
    .WhyUs-4{
        text-align:center;
        height:270px;
        width:550px;
        margin-bottom: 30px;
        padding:10px;
        box-shadow:7px 9px 10px grey;
        background-color:;
    }
    .WhyUs-4 img{
        height:60px;
        width:70px;
        margin-left:25px;
        margin-top:4px;
    }

    .footer{
        display:flex;
        justify-content:space-between;
        margin-left:30px;
        margin-right:30px
    }
    .mail{
        font-family:Blippo,fantasy;
        margin-top:25px;
        margin-right:45px;
        display:flex-column;
    }
    .social{
        display:flex;
        text-align:center;
        height:84px;
        justify-content:space-around;
        align-items:center;
    }
    .fa {
        margin:20px;
        padding: 10px;
        font-size: 30px;
        width: 40px;
        border-radius:5px;
        text-align:center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
       background:  #3B5998;
       color: white;
    }

    .fa-linkedin {
       background: #007bb5;
       color: white;
    }

    .fa-youtube {
       background: #bb0000;
       color: white;
    }
    .fa-twitter{
      background: #55ACEE;
      color: white;
    }
    .fa-instagram {
       background: pink;
      color: white;
    }
    .quote{
        display:flex;
        font-family:italics;
        align-items: center;
        justify-content:center;
         font-family: blippo,fantasy;
         background-color:silver;
        color:brown;
        width:100%;
        height:70px;
    }

    









    .contact-body{
        margin:0px;
        padding:0px;
        height:230px;
    }
     .header-contact{
        display:flex;
        justify-content:space-between;
        background-color:black;
    }
    .left{
        display:flex;
    }

    .left img{
        margin:10px;
        filter:invert(100%);
        height:75px;
        width:80px;
    }
    .left h3{
        margin-top:26px;
        margin-left:7px;
        font-size:27px;
        font-family:Blippo,fantasy;
        color:white;
    }
    .navbar{
        display:flex;
        margin-right:75px;
        margin-top:25px;
  
    
    }
    .navbar li a{
        margin:20px;
        text-decoration:none;
        color:white;
        padding:12px;
        font-size:22px;
        font-family:Blippo,fantasy;
    }
    .navbar li a:hover, .navbar li a.active{
         color:red;
    }
    .contact-container{
        display:flex;
        width:100%;
        height:70vh;
        color:black;
        margin-top:30px;
        align-items:center;
        justify-content:space-around;
    }
    .left-side{
        margin-left: 50px;
    }
    .left-1{
        display:flex;
    }
    .right-side{
        text-align: center;
        width:500px;
        height:550px;
        margin-right:220px;
        box-shadow: 7px 9px 9px grey;

    }
    .right-header{
        display:flex-column;
        align-items:center;
        background-color:black;
        color:white;
        height:100px;
    }
    .form-group input{
        padding:6px;
        width:250px;
        outline:none;
        background:none;
        border:none;
        border:1px solid grey;
        color:black;
    }
    .form-group{
        padding:9px;
    }
    .form-group label{
         margin-right: 190px;
    }
    .radio{
        margin-top:25px;
    }
    .main-body{
        margin-top:50px;
    }
    .btn{
        display:block;
        width:55%;
        margin:16px auto;
        background-color:black;
        color:white;
        border:3px solid white;
        border-radius:6px;
        padding:3px;
    }
    .btn:hover{
       color:red;
    }

  










    